{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "quotes": [2, "double"],
    "lines-between-class-members": "off",
    "no-console": "off",
    "max-params": "off",
    "indent": ["error", "tab"],
  }
}
